@import url("https://fonts.googleapis.com/css?family=Inconsolata");
.category-card {
    flex-grow: 1;
    font-weight: bold;
    background-color: #078a83;
    color: white;
    /*width: 215px;
    padding-top: 20px;
    padding-bottom: 20px;*/
    font-family: fantasy;
    border-radius: 2%;
    margin: 7.5px;
    font-size: x-large;
    font-family: 'Inconsolata'
}