@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.game-card {
    background-color: lightseagreen;
    color: white;
    width: 215px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: fantasy;
    border-radius: 2%;
    margin: 7.5px;
    font-size: x-large;
    font-family : 'Inconsolata'
}