.list-item {
    border-radius: 10px;
    box-shadow: 0 0 15px 1px #6d6161;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
}



