.card-body-style-active {
    border-radius: 2%;
    background-color: lightseagreen !important;
    cursor: pointer;
}

.card-body-style-active :hover {
    background-color: #41e3da !important;
}

.card-body-style-inactive {
    background-color: black !important;
    cursor: default;
}

.card-text-style-active {
    color: white;
    border-radius: 2%;
    font-size: 2.2vw;
    font-family: Inconsolata, serif;
    background-color: lightseagreen !important;
}

.card-text-style-active:hover {
    background-color: #41e3da !important;
}

.card-text-style-inactive {
    color: white;
    border-radius: 2%;
    font-size: 2.2vw;
    font-family: Inconsolata, serif;
    background-color: black !important;
    text-decoration: line-through;
}

p.modal-body-element {
    font-size: 1.3vw;
}

input.modal-body-element {
    font-size: 1vw;
}

button.modal-footer-element {
    font-size: 0.8vw;
}